body {
    margin: 0px;
    padding: 0px;
}
ul{
	margin:0px;
	list-style-type:none;
	background-color:black;
	height:60px;
}
#menu{
	position:relative;
}
#li1{
	position:absolute;
	left:10px;
	background-color:black;
}
#li2{
	position:absolute;
	left:200px;
	background-color:black;
}
a{
	position:absolute;
	text-align:center;
	left:20px;
	text-decoration: none;
	font-size: 40px;
	color:white;
	background-color:black;
}
a:hover{
	background-color:white;
	color:black;
	height:60px;
}
#tshirt{
	position:absolute;
	left:350px;
	transform: scale(0.95);
}
#svg{
	position:absolute;
	left:310px;
	top:-300px;
	transform: scale(0.15);
}